/*
@font-face {
    font-family: 'Brown';
    src: url('../fonts/brown-regular.eot');
    src: url('../fonts/brown-regular.eot?#iefix') format('embedded-opentype'),
         //url('../fonts/brown-regular.woff2') format('woff2'),
         url('../fonts/brown-regular.woff') format('woff'),
         url('../fonts/brown-regular.ttf') format('truetype'),
         url('../fonts/brown-regular.svg#Brown') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BrownLight';
    src: url('../fonts/brown-light.eot');
    src: url('../fonts/brown-light.eot?#iefix') format('embedded-opentype'),
         //url('../fonts/brown-light.woff2') format('woff2'),
         url('../fonts/brown-light.woff') format('woff'),
         url('../fonts/brown-light.ttf') format('truetype'),
         url('../fonts/brown-light.svg#BrownLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/

@font-face {
    font-family: 'AktivGrotesk';
    src: url('../fonts/aktiv-grotesk-regular.eot');
    src: url('../fonts/aktiv-grotesk-regular.eot?#iefix') format('embedded-opentype'),
         //url('../fonts/aktiv-grotesk-regular.woff2') format('woff2'),
         url('../fonts/aktiv-grotesk-regular.woff') format('woff'),
         url('../fonts/aktiv-grotesk-regular.ttf') format('truetype'),
         url('../fonts/aktiv-grotesk-regular.svg#AktivGrotesk') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}