@font-face {
	font-family: 'aolcore-icons';
	src:url('../fonts/aolcore-icons.eot?3');
	src:url('../fonts/aolcore-icons.eot?#iefix-3') format('embedded-opentype'),
		url('../fonts/aolcore-icons.woff?3') format('woff'),
		url('../fonts/aolcore-icons.ttf?3') format('truetype'),
		url('../fonts/aolcore-icons.svg?3#aolcore-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.aolcore-icon {
	font-family: 'aolcore-icons';
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	text-transform: none;
  vertical-align: middle;

	// Better Font Rendering
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

    &--alert:before {
        content: "\e600";
    }

    &--assist:before {
        content: "\e61f";
    }

    &--back-arrow:before {
        content: "\e618";
    }

    &--call:before {
        content: "\e602";
    }

    &--chat:before {
        content: "\e603";
    }

    &--close:before {
        content: "\e604";
    }

    &--cta-arrow:before {
        content: "\e605";
    }

    &--download:before {
        content: "\e606";
    }
    
    &--dropdown-collapsed:before {
        content: "\e61c";
    }

    &--dropdown-expanded:before {
        content: "\e61d";
    }

    &--email:before {
        content: "\e607";
    }

    &--hamburger:before {
        content: "\e601";
    }

    &--images-off:before {
        content: "\e608";
    }

    &--images-on:before {
        content: "\e609";
    }

    &--open:before {
        content: "\e60a";
    }

    &--pagination-first:before {
        content: "\e60b";
    }

    &--pagination-last:before {
        content: "\e60c";
    }

    &--pagination-left:before {
        content: "\e60d";
    }

    &--pagination-right:before {
        content: "\e60e";
    }

    &--plans:before {
        content: "\e620";
    }

    &--premium:before {
        content: "\e60f";
    }

    &--print:before {
        content: "\e610";
    }

    &--products:before {
        content: "\e611";
    }

    &--search:before {
        content: "\e612";
    }

    &--share:before {
        content: "\e613";
    }

    &--shortcuts:before {
        content: "\e614";
    }

    &--support:before {
        content: "\e615";
    }

    &--text-size:before {
        content: "\e616";
    }

    &--thumb:before {
        content: "\e617";
    }

    &--timestamp:before {
        content: "\e619";
    }

    &--triangle-left:before {
        content: "\e61b";
    }

    &--triangle-right:before {
        content: "\e61e";
    }

    &--upgrade:before {
        content: "\e61a";
    }
    
    &--check:before {
        content: "\e60a";
    }
    
    &--not:before {
        content: "\e604";
    }

    &--x:before {
        content: "\e910"; 
    }

    &--temp:before {
        content: "\e60f"; 
    }

    &--aol:before {
        content: "\e621"; 
    }

    &--myaccount:before {
        content: "\e90f"; 
    }

    &--back:before {
        content: "\e900"; 
    }

    &--contract:before {
        content: "\e902"; 
    }

    &--download2:before {
        content: "\e904"; 
    }

    &--forward:before {
        content: "\e905"; 
    }

    &--profile:before {
        content: "\e908"; 
    }

    &--expand:before {
        content: "\e90b"; 
    }

    &--remove:before {
        content: "\e90d"; 
    }

    &--help:before {
        content: "\e907"; 
    }

    &--checked:before {
        content: "\e90e"; 
    }

    &--wallet:before {
        content: "\e90a"; 
    }

    &--subscriptions:before {
        content: "\e909"; 
    }

    &--padlock:before {
        content: "\e901"; 
    }

    &--info:before {
        content: "\e903"; 
    }

    &--arrow-right:before {
        content: "\e906"; 
    }

    &--arrow-down:before {
        content: "\e90c"; 
    }

    &--alert2:before {
        content: "\e911"; 
    }
}

button.aolcore-icon {
    font-size: 85%;
    border: 0;
    background: transparent;
    color: $brand-color;
    -webkit-appearance: none;
}