body {
	font-family: $body-font-family;
	line-height: 1.4;
	color: $body-font-color;
}

a {
  	color: $brand-color;
	text-decoration: none;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	&:hover {
		color: darken($brand-color, 5%);
		text-decoration: underline;
	}
}

strong,
.strong {
	font-family: $body-font-family;
	font-weight: 700;
}

h1 {
	font-family: $body-font-family;
	font-weight: 300;
	color: #000;
	@include rem-fallback((
		font-size: 45px
	));
	@include rem-fallback((
		margin-top: 25px,
		margin-bottom: 25px
	));
}

h2 {
	font-family: $body-font-family;
	font-weight: 300;
	color: #000;
	@include rem-fallback((
		font-size: 28px
	));
	@include rem-fallback((
		margin-top: 25px,
		margin-bottom: 25px
	));
}

p {
	font-weight: 300;
	@include rem-fallback((
		margin-top: 20px,
		margin-bottom: 20px
	));
}