.button {

  .aolcore-icon {
    margin-right: 5px;
    font-size: 16px;
  }

  &--cta {
    @include rem-fallback((
      padding-top: 10px,
      padding-bottom: 10px,
      padding-left: 20px,
      padding-right: 20px,
      font-size: 14px
    ));
    border: 0;
    background: $brand-color;
    color: #fff;
    // font-family: $heavy-font-family;
    font-family: $body-font-family;
    font-weight: 700;
    -webkit-transition: background 0.4s;
    transition: background 0.4s;
    outline: none;
    
    @include media($desktop-width) {
      @include rem-fallback((
        // font-size: 16px
      ));
    }

    &:hover {
      background: darken($brand-color, 5%);
      text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
      text-shadow: px-to-rem(2px) px-to-rem(2px) rgba(0, 0, 0, 0.4);
    }

    &:active {
      -webkit-box-shadow: inset 0 3px 8px 0 rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: inset 0 px-to-rem(3px) px-to-rem(8px) 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: inset 0 3px 8px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: inset 0 px-to-rem(3px) px-to-rem(8px) 0 rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 3px 8px 0 rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 px-to-rem(3px) px-to-rem(8px) 0 rgba(0, 0, 0, 0.2);
    }
  }

  &--outline {
      border: 1px solid #fff;
      background: transparent;
      color: #fff;
      cursor: pointer;
      padding: 5px 20px;
      @include rem-fallback((
        font-size: 14px
      ));
  }

  &--tall {
    @include rem-fallback((
      padding-top: 1rem,
      padding-bottom: 1rem,
      padding-left: 2rem,
      padding-right: 2rem,
      font-size: 14px
    ));
  }

  &--short {
    @include rem-fallback((
      padding-top: 5px,
      padding-bottom: 5px,
      padding-left: 15px,
      padding-right: 15px,
      font-size: 14px
    ));
  }

  &--null {
    background: transparent;
    border: 0;
  }

  &--white {
    background: #fff;
    color: $brand-color;
    &:hover {
      color: lighten($brand-color, 5%);
      background: #fff;
      text-shadow: initial;
      text-decoration: none;
    }
  }

  &--plain {
    @include rem-fallback((
      margin-top: 1rem,
      margin-bottom: 1rem,
      margin-left: 2rem,
      margin-right: 2rem
    ));
    color: $brand-color;
    background: transparent;
    padding: 0;
    border: 0;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;

    &:hover {
      color: darken($brand-color, 10%);
      text-decoration: underline; 
    }
  }
}
