$card__icon-width: 75px;
$card__icon-width-large: 105px;
$card__spacing: 40px;

.card {
    position: relative;
    background: #fff;
    @include rem-fallback((
        padding: $card__spacing,
        margin-bottom: $card__spacing
    ));
    
    &__header {
      display: table;
      @include media($desktop-width) {
        display: block;
      }
    }
    
    &__title {
      margin-top: 0;
      display: table-cell;
      vertical-align: middle;
      font-weight: 300;
      word-break: break-all;
      @include rem-fallback((
          font-size: 25px,
          //padding-left: $card__spacing
          padding-left: 0
      ));
      @include media($desktop-width) {
        display: block;
        margin-bottom: 0;
        padding-left: 0;
        @include rem-fallback((
            font-size: 25px
        ));
      }
    }

    &__content {
      p {
        margin-top: 10px;
        line-height: 1.5;
      }
      @include media($desktop-width) {
        clear: none;
        @include rem-fallback((
          margin-left: $card__icon-width-large + $card__spacing
        ));
      }
    }

    &__tag {
        position: absolute;
        color: #000000;
        font-weight: bold;
        @include rem-fallback((
          top: 10px,
          right: 10px,
          font-size: 12px
        ));
        .aolcore-icon {
          display: block;
          float: left;
          margin-right: 0;
          &:before {
            display: block;
            @include rem-fallback((
              font-size: 12px,
              height: 12px,
              width: 12px,
              margin-right: 4px,
              line-height: 1.4
            ));
          }
        }
    }

    &__media {
      display: none;
      background: #fff;
      @include rem-fallback((
          width: $card__icon-width,
          height: $card__icon-width
      ));
      @include media($desktop-width) {
        display: block;
        float: left;
        @include rem-fallback((
          width: $card__icon-width-large,
          height: $card__icon-width-large
        ));
      }
      &--centered {
        @include media($desktop-width) {
          position: absolute;
          top: 50%;
          float: none;  
          @include rem-fallback((
            left: $card__spacing,
            margin-top: -$card__icon-width-large/2
          ));
        }
      }
    }
}

.card-list {
  margin-bottom: 50px;
}