$input-outline--default: #9e9e9e;
$input-outline--checked: #3e79ff;
$input-background--default: #ffffff;
$input-background--checked: #ffffff;

.checkbox-group {
    margin-left: 0;
    padding-left: 0;

    &__item {
        list-style-type: none;
        @include rem-fallback((padding-bottom: 20px));
    }
    
    &.checkbox-group__two-col {
      @include clearfix;
      .checkbox-group__item {
        width: 50%;
        float: left;
      }
    }
    
    @include media($desktop-width) {
      &.checkbox-group__two-col--desktop-up {
        @include clearfix;
        .checkbox-group__item {
          width: 50%;
          float: left;
        }
      }
    }
    
    input[type=checkbox].checkbox {
      cursor: pointer;
      margin: 0;
      padding: 0;
      opacity: 0;
      display: inline-block;
      vertical-align: middle;
      @include rem-fallback((
        width: 16px,
        height: 16px,
        font-size: 16px
      ));
    }

    input[type=checkbox].checkbox + .checkbox-label:before {
      box-sizing: border-box;
      content: '\00a0';
      display: inline-block;
      border-style: solid;
      border-color: $input-outline--default;
      vertical-align: middle;
      background-color: $input-background--default;
      @include rem-fallback((
        width: 16px,
        height: 16px,
        margin-top: -1px,
        margin-right: 12px,
        margin-left: -16px,
        font-size: 16px,
        border-radius: 4px,
        border-width: 2px
      ));
    }
    
    input[type=checkbox]:hover + .checkbox-label:before {
      border-color: darken($input-outline--default, 10%);
    }

    input[type=checkbox].checkbox:checked + .checkbox-label:before {
      border-color: $input-outline--checked;
      background-color: $input-background--checked;
      color: $input-outline--checked;
      content: '+';
      font-weight: bold;
      @include rem-fallback((
        font-size: 14px,
        line-height: 10px,
        padding-left: 2px
      ));
      //content: '\2022';
      //font-weight: bold;
      //@include rem-fallback((
      //  font-size: 24px,
      //  line-height: 12px,
      //  padding-left: 2px
      //));
    }
}