.contained-overflow {
  @include rem-fallback((
    padding: 1rem,
    border-width: 1px
  ));
  border-style: solid;
  border-color: $theme-light;
  overflow-y: scroll;
  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
  &.contained-overflow--full {
    width: 100%;
    @include rem-fallback((height: 8rem));
    @include media($desktop-width) {
      &.contained-overflow--most {
        width: 60%;
      }
    }
  }
}