$field-error-color: $warning-color;

.fieldset {
	&--plain {
		margin: 0;
		padding: 0;
		border: 0;
	}
}

.legend {
	&--plain {
		margin: 0;
		padding: 0;
	}
}

label {
	display: inline-block;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #666;
}

input[type='text'] {
	width: 100%;
	padding: 10px;
	font-size: 14px;
	color: #000;
	border: 1px solid $theme-light;
}

.has-padlock,
.has-tooltip {
	position: relative;
}
.has-padlock {
	input {
		padding-left: 38px;
	}
	.aolcore-icon--padlock {
		padding: 0;
		position: absolute;
		top: 9px;
		left: 10px;
		font-size: 22px;
		color: #949494;
	}

}

.has-tooltip {
	input {
		padding-right: 38px;
	}
	.aolcore-icon--info {
		padding: 0;
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 22px;
		border: 0;
		background: transparent;
		color: #3e79ff;
		-webkit-appearance: none;
	}
}

.input-aligned {
	@include media($desktop-width) {
		margin-top: 27px;
	}
}

select,
.select {
	width: 100%;
	border: 1px solid $theme-light;

	// TODO: Add custom select
	&--custom {
		position: relative;
		border: none;
		-webkit-border-radius: 0;
		-webkit-appearance: none;
		background: #eeedff;
		border-radius: 0;
		padding: 6px;
		&:after {
			content: '\e61c';
		}
	}
}

// TMP
// FIXIT
.error {
	position: relative;
	input {

		border: 1px solid $field-error-color;
	}

	&__detail {
		display: none;
		font-size: 14px;
		line-height: 1;
    	margin-top: 5px;
		margin-bottom: -19px;
		color: $field-error-color;
	}

	.error__detail {
		display: table;
	}
}

form {
	.row {
		margin-bottom: 25px;
	}
	.row__col {
		margin-bottom: 25px;	
		@include media($desktop-width) {
			margin-bottom: 0;
		}
	}
}

 