.header {
    height: 60px;
    background: $header-dark-bg;
    position: relative; 
    height: 60px;
    text-align: center;
    z-index: 1;

    // Temporary
    &__beta {
        position: absolute;
        right: 22px;
        top: 19px;
        text-transform: uppercase;
        color: $brand-color;
        border: 2px solid #fff;
        line-height: 1;
        padding: 3px 5px;
    }

    &__hamburger {
        color: #888d99;
        font-size: 24px;
        left: 0;
        top: 0;
        line-height: 60px;
        padding: 0 20px;
        position: absolute;
        cursor: pointer;

        &.is-active {
            color: $brand-color;
        }
    }

    &__nav {
        display: none;
    }

    &__logo {
        padding: 20px;
        display: inline-block;

        &:hover {
            text-decoration: none;
            color: $brand-color;
        }

        .aolcore-icon {
            color: $brand-color;
            &:first-child {
                color: #fff;
                vertical-align: baseline;
                margin-right: 7px;
            }
        }
    }

    &__profile {
        display: none;
    }

   @include media($desktop-width) {
        height: 70px;
        background: #f6f9ff;

        // Temporary
        &__beta {
            left: 30px;
            top: 22px;
            right: initial;
            border: 3px solid #cacaca;
        }

        &__hamburger,
        &__logo {
            display: none;
        }

        &__profile {
            display: block;
            text-align: right;
            margin-right: 30px;
        }
   }
}
