.hero {
    position: relative;
    height: 200px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #efefef;

    &__gravatar {
        position: absolute;
        left: 20px;
        bottom: 0;
        width: 150px;
        background: #fff;
        line-height: 1;
        font-size: 1px;
        padding: 20px;
        img {
            width: 100%;
        }
    }

    .content {
        position: relative;
        height: 100%;
    }

   @include media($desktop-width) {
        height: 300px;
   }
 
}