.menu {
    position: relative;
    border-top: 4px solid #f2f2f2;
    margin-bottom: 25px;
    padding-top: 5px;
    @include rem-fallback((
        font-size: 14px
    ));

    h4 {
        font-family: $body-font-family;
        font-weight: 700;
        margin: 15px 0;
        @include rem-fallback((
           font-size: 16px
        ));
    }

    p {
        font-family: $body-font-family;
        color: #585858;
        margin: 20px 0;
        @include rem-fallback((
           font-size: 14px
        ));
    }

    &__tag {
        position: absolute;
        top: 25px;
        right: 10px;
        font-size: 12px;
        font-weight: bold;
        .aolcore-icon {
            font-size: 9px;
            margin-right: 9px;
        }
    }

    &__link {
        margin-left: -25px;
    }

    &__list {
        margin: 0;
        padding: 0;
        font-weight: 400;

        &__item {
            list-style-type: none;
            margin-left: 25px;
            @include rem-fallback((
                margin-bottom: 12px
            ));

            .aolcore-icon {
                display: inline-block;
                width: 25px;
                color: #000;
                @include rem-fallback((
                    font-size: 16px
                ));
            }

            .reveal__action {
                margin-left: -25px;
            }
        }

        &__content {
            margin: 10px 0 20px 0;
            font-weight: 400;

            @include rem-fallback((
                font-size: 12px
            ));

            dl {
                margin: 0;
                padding: 0;
                @include clearfix();
            }
            dt {
                float: left;
                clear: both; 
                margin: 0 5px 10px 0;
            }
            dd {
                font-weight:bold;
                margin: 0 0 10px 0;
                -webkit-margin-start: 0;
            }
        }
    }

}

// TODO: find the BEM way to define page level specific styles
.menu-list {
    @include media($desktop-width) {
        margin-top: 50px;
        .menu:last-child {
            padding-bottom: 25px;
            border-bottom: 4px solid #f2f2f2;
        }
    }
}
