.message {
    margin: 15px 0;

    .aolcore-icon {
        font-size: 18px;
        margin-right: 7px;
    }

    &--warning {
        .aolcore-icon {
            color: $warning-color;
        }
    }

    &--error {
        color: $warning-color;
    }

}