
.nav-footer {
    background: $nav-footer-bg;
    color: #fff;
    padding: 10px 0;

    &__section {
        border-bottom: 1px solid #2d313b;

        &:last-child {
            border-bottom: 0;
        }

        &.is-active {
            .nav-footer__items {
                display: block;
            }
        }

    }

    &__title {
        font-size: 16px;
        cursor: pointer;
    }

    &__items {
        padding: 0;
        margin: 0 0 20px 0;
        display: none;

        &.is-active {
            display: block;            
        }
    }

    &__item {
        list-style-type: none;
        font-size: 14px;
        margin-bottom: 10px;
    }

    &__link {
       color: #fff;
       text-decoration: none; 
        &:hover {
            color: #dee1ee;
            text-decoration: none;
        }
    }
}

.legal {
    background: #000;
    position:relative;

    &__copyright {
        color: #fff;
        font-size: 12px;
        margin: 0 auto;
        max-width: 1000px;

        .aolcore-icon {
            margin-right: 15px;
            font-size: 19px;
            vertical-align: bottom;
        }
    }

}

.social {
    position: absolute;
    top: 20px;
    right: 20px;

    &__item {
        color: #fff;
        font-size: 28px;
        text-decoration: none;
        display: inline-block;
        margin-right: 10px;

        img {
            width: 30px;
        }

        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
}

.nav-footer {
    @include media($desktop-width) {
        &__sections {
            @include outer-container(1000px);
        }

        &__section {
            @include span-columns(4);
            border-bottom: none;
        }

        &__items {
            display: block;
        }

        &__title {
            cursor: initial;
        }
    }
}
