.nav-secondary {

    &__items {
        margin: 0;
        padding: 0;
    }

    &__item {
        display: inline-block;
        list-style-type: none;
    }

    &__link {
        color: #fff;
        text-decoration: none;
    }
}