$nav-primary-width: 100px !default;
$nav-primary-width-expanded-mobile: $nav-primary-width + 150px; 
$nav-primary-width-expanded-desktop: 300px; 

.nav-primary {
    background: $header-dark-bg;
    float: left;
    width: $nav-primary-width-expanded-mobile;
    height: 100%;
    margin-left: -$nav-primary-width-expanded-mobile;
    transition: margin-left .2s ease;
    transition-delay: 0.2s;
    font-family: $complimentary-font-family;

    &.is-active {
        margin-left: 0;
        z-index: 1;
    }

    &__logo {
        display: block;
        height: 60px; 
        background: #1c1e22;
        color: #fff;
        font-size: 16px;
        text-align: enter;
        line-height: 65px;
        margin-left: 20px;
        
        &:hover {
            color: #fff;
            text-decoration: none;
        }

        .aolcore-icon {
            color: $brand-color;
            &:first-child {
                color: #fff;
                vertical-align: baseline;
                margin-right: 7px;
            }
        }
    }

    &__items {
        margin: 0; 
        padding: 0; 
        background: #25282e;
    }

    &__item {
        list-style-type: none;
        
        &.is-active {

            .nav-primary__subpanel {
                display: block;
                margin-left: 0;
            }

            .nav-primary__link {
                color: $brand-color;
                background: #1c1e22;
            }

            .nav-primary__icon {
                color: $brand-color;
            }
        }

        &.is-selected {

            .nav-primary__link {
                color: $brand-color;
                background: #1c1e22;
            }

            .nav-primary__icon {
                color: $brand-color;
            }
        }
    }

    &__link {
        border-bottom: 1px solid #121417;
        color: #888d99;
        display: block;
        font-size: 12px;
        height: 60px;
        line-height: 60px;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            color: $brand-color;
            text-decoration: none;
            background: #1c1e22;

            .nav-primary__icon {
                color: $brand-color;
            }
        }
    }

    &__subpanel {
        position: absolute;
        top: 0;
        left: 0;
        background: #25282e;
        width: $nav-primary-width-expanded-mobile;
        height: 100%;
        color: #fff;
        margin-left: -$nav-primary-width-expanded-mobile;
        transition: margin-left .2s ease;
        transition-delay: 0.2s;
        z-index: 1;

        h2  {
            color: #fff;
            padding: 0 20px;
            line-height: 60px;
            font-size: 20px;
            font-weight: 300;
            margin: 0;
            background: #000;
            height: 60px;
        }

        &__items {
            margin: 0;
            padding: 0;
        }

        &__item {
            list-style-type: none;
        }

        &__link {
            display: block;
            color: #dee1ee;
            text-decoration: none;
            padding: 20px;
            border-bottom: 1px solid #2e333a;
            &:hover {
                color: $brand-color;
                text-decoration: none;
            }
        }

        &__close {
            position: absolute;
            top: 20px;
            right: 20px;
            color: $brand-color;
            font-size: 1.5rem;
            line-height: 0;
            text-decoration: none;
            cursor: pointer;
        }
    }

    &__icon {
        color: #fff;
        display: inline-block;
        font-size: 25px;
        text-align: center;
        width: 65px;
    }

    &__complimentary {
        padding: 0;
        margin: 20px 0 0 0;
        &__item {
            margin: 20px 16px 16px 20px;
            list-style-type: none;
            color: #dee1ee;
            @include rem-fallback((
                font-size: 14px
            ));
            a {
                display: block;
                color: #dee1ee;
                text-decoration: none;
                &:hover {
                    color: $brand-color;
                }
            }
        }
    }
}

.nav-primary {
   @include media($desktop-width) {
        width: $nav-primary-width;
        height: 100%;
        margin-left: 0;

        &__logo {
            height: 70px; 
            text-align: center;
            font-size: 24px;
            line-height: 74px;
            background: $brand-color;
            margin-left: 0;

            .aolcore-icon:first-child {
                margin-right: 0;
            }

            // FIXIT: remove implementation specific references aka myaccount
            .aolcore-icon--myaccount {
                display: none;
            }
        }

        &__items {
            height: 100%;
        }
        
        &__item {
            &.is-active {
                .nav-primary__subpanel {
                    margin-left: $nav-primary-width;
                }
            }
        }

        &__link {
            padding: 20px 6px;
            line-height: initial;        
            height: auto;
            text-align: center;
        }

        &__icon {
            display: block;
            width: auto;
            margin-bottom: 10px;
        }

        &__subpanel {
            top: 0;
            bottom: 0;
            background: #1c1e22;
            width: $nav-primary-width-expanded-desktop;
            margin-left: -$nav-primary-width-expanded-desktop;
            z-index: -1;

            h2 {
                height: 70px;
                line-height: 60px;
                font-size: 28px;
                padding: 5px 30px;
                background: transparent;
                margin-bottom: 20px;
            }

            &__items {
                padding: 0 30px;
            }

            &__item:first-child {
                .nav-primary__subpanel__link {
                    border-top: 1px solid #2e333a;;
                }
            }

            &__link {
                padding: 20px 0;
            }

            &__close {
                display: none;
            }
        }

        .nav-primary__complimentary {
            display: none;
        }
   }
}
