.notification {
    position: relative;
    background: #fff;
    padding: 25px;

    &__close {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        background: #000;
        text-align: center;
        color: white;
        font-size: 22px;
        line-height: 36px;
        cursor: pointer;
    }

    &__content {
        margin: 0 25px;
        h4 {
            font-family: $body-font-family;
            font-weight: strong;
        }
        p {
            margin-top: 0;
        }
        .row {
            max-width: none;
            margin: 0;
        }
    }

    &--error {
        background: $warning-color;
        color: #fff;
    }

    &--highlight {
        background: $brand-color;
        color: #fff;
        big {
            display: block;
            margin-bottom: 20px;
        }
        .notification__content {
            padding: 10px;
        }
        .button {
            margin-left: 20px;
        }
    }

    &--centered {
        .notification__content {
            text-align: center;
        }
    }

    @include media($desktop-width) {
        &.notification--highlight {
            big {
                display: inline-block;
                margin-bottom: 0;
            }
        }
        .notification__content {
            p {
                margin: 0;
            }
        }
        .row {
            display: flex;
            align-items: center;
            margin-bottom: 0;
        }
    }
}