.prompt {
    background: #333;

    &__content { 
        display: inline-block;
        @include rem-fallback((
            font-size: 14px
        ));

        p {
            margin: 0;
        }

        @include media($desktop-width) {
            vertical-align: middle;
            width: 80%;
        }
    }

    &__action {
        display: inline-block;
        text-align: right;
        margin-top: 20px;
        @include media($desktop-width) {
            width: 19%;
            margin-top: 0;
        }
    }

    &--light {
        .prompt__content {
            color: #fff;
        }
    }
}