$profile-gray: #2c2c2c;

.profile {
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: $profile-gray;

    &__authenticated {
        display: block;
    }

    &__name {
        font-size: 14px;
        line-height: 70px;
        margin-right: 10px;
    }

    &__icon {
        height: 24px;
        vertical-align: middle;
        line-height: 70px;
    }

    &__options {
        display: none;
        position: absolute;
        padding: 25px;
        margin: 0;
        top: 70px;
        right: 0;
        width: 150px;
        text-align: left;
        background: #f6f9ff;
        @include rem-fallback((
           font-size: 14px
        ));
        
        &.is-active {
            display: block;
        }
    }

    &__option {
        list-style-type: none;
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
   }

    &__link {
        color: $profile-gray;
        &:hover {
            color: $profile-gray;
            text-decoration: none;
        }
    }

    &__unauthenticated {
        display: none;
        font-size: 14px;
        line-height: 70px;
        margin-right: 10px;
        color: $profile-gray;
        &:hover {
            color: $profile-gray;
            text-decoration: none;
        }
    }
}