$radio-group__sizing: 16px;
$radio-group__spacing: 20px;
$radio-group__radio-spacing: 24px;
$radio-group__radio-outline: #9e9e9e;
$radio-group__radio-outline--checked: #3e79ff;
$radio-group__radio-background: #ffffff;
$radio-group__radio-background--checked: #ffffff;

.radio-group {
    margin-left: 0;
    padding-left: 0;

    &__item {
        list-style-type: none;
        @include rem-fallback((
          padding-bottom: $radio-group__spacing
        ));
    }
    
    &.radio-group__two-col {
      @include clearfix;
      .radio-group__item {
        width: 50%;
        float: left;
      }
    }
    
    @include media($desktop-width) {
      &.radio-group__two-col--desktop-up {
        @include clearfix;
        .radio-group__item {
          width: 50%;
          float: left;
        }
      }
    }
    
    input[type=radio].radio {
      opacity: 0;
      display: block;
      float: left;
      @include rem-fallback((
        width: $radio-group__sizing,
        height: $radio-group__sizing,
        margin-top: 2px,
        margin-bottom: 2px
      ));
  
      + .radio-label {
        display: block;
        padding-left: $radio-group__radio-spacing;
        &:before {
          content: '\00a0';
          display: block;
          float: left;
          background-color: $radio-group__radio-background;
          border-radius: 50%;
          border-style: solid;
          border-color: $radio-group__radio-outline;
          @include rem-fallback((
            border-width: 2px,
            height: $radio-group__sizing,
            width: $radio-group__sizing,
            margin-top: 3px,
            margin-left: -$radio-group__radio-spacing
          ));
          @at-root input[type=radio].radio:hover + .radio-label:before {
            border-color: darken($radio-group__radio-outline, 10%);
          }
          @at-root input[type=radio].radio:checked + .radio-label:before {
            background-color: $radio-group__radio-background;
            border-color: $radio-group__radio-outline--checked;
            @include rem-fallback(( border-width: 6px ));
          }
        }
      }
    }
}

