$record-detail-bg: white;
$record-detail-alert-color: $warning-color;
$list-item-media-width: 30px;
$record-detail-theme-color: #3e79ff;   

.record-detail {
    background: $record-detail-bg;
    margin-bottom: 30px;
    line-height: 1.5;
    font-size: 14px;

    &__header {
        padding: 25px;
        border-bottom: 1px solid #edf0f6;
        position: relative;

        strong {
            color: #000;
            &:first-child {
                display: block;
            }
        }

        &__media {
            display: inline-block;
            line-height: 1;
            vertical-align: middle;
            margin-right: 20px;
            img {
                height: 40px;
            }
        }

        &__title {
            display: inline-block;
            line-height: 1.2;
            vertical-align: middle;
            font-size: 14px;
            width: 60%;
        }

        &__action {
            display: none;
            position: absolute;
            top: 50%;
            right: 20px;
            border: 0;
            background: transparent;
            padding: 0;
            margin-top: -10px;
            cursor: pointer;
        }

        big {
            font-size: 16px;
        }

        .aolcore-icon {
            font-size: 25px;
            color: $record-detail-theme-color;
        }

    }


    &__body {
        padding: 25px;

        h4 {
            font-size: 16px;
            margin: 0 0 3px 0;
            color: #000;
        }
        p {
            margin-top: 0;
            margin-bottom: 16px;
        }

        // FIXIT: remove use .columns .columns__col and use simple grid instead
        .columns__col {
            // margin-bottom: 40px;
        }
    }

    &__list {
        padding: 0;
        margin: 20px 0;

        &__item {
            list-style-type: none;
            margin-bottom: 15px;
            @include clearfix();         

            &--selected {
                border: 2px solid $record-detail-theme-color;
            }
        }

        &__media {
            float: left;
            width: $list-item-media-width;
            margin-right: 10px;
            img {
                width: 100%;
            }
        }

        &__content {
            float: left;
            .row:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__alert {
        padding: 25px;
        display: none;

        h4 {
            font-size: 16px;
            margin: 0;
            @include rem-fallback((
                margin-bottom: 15px
            ));
            span {
                vertical-align: middle;
            }
            .aolcore-icon {
                margin-right: 8px;
                font-size: 19px;
            }
        }
 
        p {
            font-size: 12px;
            margin: 0;
            @include rem-fallback((
                margin-bottom: 20px
            ));
        }

        button {
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__media {
        height: 40px;
        margin-right: 20px;
    }

    &--headless {
        .record-detail__header {
            display: none;
        }
        .record-detail__body {
            padding: 0;
        }
    }

    &--is-collapsible {
        .record-detail__header__action {
            display: inline-block;
        }
        .record-detail__body {
            display: none;
        }
    }

    &--has-alert {
        border: 4px solid $record-detail-alert-color;

        .record-detail__alert {
            display: block;
            background-color: $record-detail-alert-color;
            color: #fff;
            padding-bottom: 30px;
            padding-top: 15px;
        }
    }

    &--is-expanded {
        .record-detail__header__action .aolcore-icon:before {
            content: "\e90c";
        }
        .record-detail__body {
            display: block;
        }
    }

    @include media($desktop-width) {
        &__header {
            strong {
                &:first-child {
                    display: initial;
                }
            }
        } 
    }
}

.options {
    padding: 0;
    margin: 20px 0 10px 0;

    &__item {
        list-style-type: none;
        padding: 20px;
        border: 2px solid #fff;
        @include clearfix();         

        &--selected {
            border: 2px solid $record-detail-theme-color;
        }
    }

    &__radio {
        float: left;
        display: flex;
        padding-top: 7px;
        margin-right: 20px;
        align-content: center;
    }

    &__media {
        float: left;
        margin-right: 10px;
        width: 70px;
        img {
            width: 100%;
        }
    }

    &__content {
        float: left;
        strong {
            color: #000;
        }
        .row:last-child {
            margin-bottom: 0;
        }
    }

    &__input {
        // margin-left: -100px;
        padding: 10px 0 0;
        label:not(.error__detail) {
            display: block;
            margin-bottom: 10px;
        }
        input {
            width: 300px;
        }
    }
}