.reveal {

    &__action {
       border: 0;
       padding: 0;
       margin: 0;
       background: transparent; 
       outline: none;
       color: $brand-color;
       text-align: left;
       cursor: pointer;

       .aolcore-icon {
           display: inline-block;
           width: 25px;
           line-height: 1px;
           color: #000;
       }
    } 

    &__content {
        display: none;
    } 

    &.is-active {
        .reveal__action .aolcore-icon:before {
            content: '\e902';
        }
        .reveal__content {
            display: block;
        }
    }
}