.statement {
    background: #fff;
    margin-bottom: 25px;

    hr {
        border: 0;
        border-bottom: 4px solid #f2f2f2;
        margin: 30px 0;
    }

    &__header {
        padding: 20px 25px;
        border-bottom: 4px solid #000;
    
        h2 {
            display: inline-block;
            margin: 0;
            @include rem-fallback((
                font-size: 28px
            ));
        }

        &__date {
            float: right;
            line-height: 38px;
            @include rem-fallback((
                font-size: 15px
            ));
        }
    }

    &__body {
        padding: 20px 25px;

        h3 {
            display: inline-block;
            font-weight: 300;
            margin: 0;
            @include rem-fallback((
                font-size: 19px
            ));
        }

        &__header {
            margin-bottom: 20px;
        }

        &__tag {
            display: inline-block;
            font-size: 12px;
            font-weight: bold;
            margin-left: 10px;
            .aolcore-icon {
                font-size: 9px;
                margin-right: 5px;
            }
        }

        &__total {
            float: right;
            line-height: 38px;
            @include rem-fallback((
                font-size: 14px
            ));
        }
    }

    &__footer {
        padding: 20px 25px;
        border-top: 4px solid #000;
        background: #f2f2f2;

        h2 {
            display: inline-block;
            margin: 0;
            @include rem-fallback((
                font-size: 28px
            ));
        }

        &__total {
            float: right;
            line-height: 38px;
            @include rem-fallback((
                font-size: 19px
            ));
            @include clearfix(); 
        }

    }


    table {
        width: 100%;
        font-weight: 300;
        margin: 10px 0 30px 0;
        @include rem-fallback((
            font-size: 14px
        ));

        caption {
            text-align: left;
        }

        td {
            vertical-align: top;
            padding-bottom: 10px;
            padding-right: 15px;

            &:last-child {
                padding-right: 0;
                text-align: right;
                font-weight: 700;
            }
        }

        tfoot {
            td {
                padding-top: 20px;
            }
        }
    }

    &__date {
        width: 15%;
    }

    &__description {
        width: 50%;
    }

    &__amount {
        width: 10%;
    }
    
    &__pending {
    	color:#c2520e;
    	font-style: italic;
    	
    	&__total{
    		font-weight:normal;
    	}
    }

    &__total {
        width: 20%;
        font-weight: 700;
        text-align: right;
    }
    
    &__credit {
    	color: #1a7463;
    }

    &__alert {
        padding: 25px;
        margin-bottom: 0;
        
        &__content {
            font-size: 16px;
            margin: 0;
            span {
                vertical-align: middle;
            }
            .aolcore-icon {
                margin-right: 8px;
                font-size: 19px;
            }
        }

        &__action {
            text-align: right;
        }
    }

    &--has-alert {
        border: 4px solid $record-detail-alert-color;
        .statement__alert {
            display: block;
            background-color: $record-detail-alert-color;
            color: #fff;
        }
    }

    &--theme2 {
        table {
            td {
                &:last-child {
                    font-weight: 300;
                }
            }
        }
        ul {
            margin: 5px 0 0 0;
            padding: 0;
            li {
                list-style-type: none;
            }
        }
    }
}
.print-statement{
	.page-wrapper{
		margin-left:0px;
	}
	
	background-color:#fff;
	.content--highlight{
		background-color:#fff;
	}
	h1 {
		padding-bottom:0px;
	}
	
	.statement__header{
		padding-left:0px;
		padding-top:0px;
	}
}