meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
title AOL Core UI
link(rel='stylesheet', href='../assets/css/main.css')
| <!--[if lt IE 9]>
script(src="../assets/js/vendor/html5shiv.min.js")
script(src="../assets/js/vendor/respond.min.js")
| <![endif]-->
script(src="../assets/js/vendor/modernizr-custom.js")
script(src="../assets/js/vendor/jquery-2.1.0.min.js")
script(src="../assets/js/vendor/bootstrap-tooltip.min.js")
script(src="../assets/js/main.js")
