mixin input-button(value, kind)
  input(type='button', value=value, class='button button--'+kind)

mixin input-submit(value, kind)
  input(type='submit', value=value, class='button button--'+kind)

mixin icon(className, name)
  div.icon
      span.aolcore-icon(aria-hidden="true", aria-role="presentation", class="aolcore-icon--" + className)
      span.screen-reader aolcore-icon--#{name}
      | .aolcore-icon--#{className}