nav.nav-primary
    a.nav-primary__logo(href="sample-components.html")
        span.aolcore-icon.aolcore-icon--aol(aria-hidden="true", aria-role="presentation")
        span.aolcore-icon.aolcore-icon--myaccount(aria-hidden="true", aria-role="presentation")
        small.screen-reader AOL MyAccount
    ul.nav-primary__items
        li.nav-primary__item
            a.nav-primary__link(href='sample-content-containers.html')
                span.nav-primary__icon.aolcore-icon.aolcore-icon--products(aria-hidden="true", aria-role="presentation")
                | Layout
        li.nav-primary__item
            a.nav-primary__link(href='sample-icons.html')
                span.nav-primary__icon.aolcore-icon.aolcore-icon--support(aria-hidden="true", aria-role="presentation")
                | Icons
        li.nav-primary__item.js-has-subpanel
            .nav-primary__link
                span.nav-primary__icon.aolcore-icon.aolcore-icon--plans(aria-hidden="true", aria-role="presentation") 
                | Components
            .nav-primary__subpanel
                h2 Components
                .nav-primary__subpanel__close.js-nav-primary-subpanel-close
                    span.aolcore-icon.aolcore-icon--back-arrow(aria-hidden="true", aria-role="presentation")
                    small.screen-reader Back
                ul.nav-primary__subpanel__items
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='sample-components.html#statement') Statement 
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='sample-components.html#record-detail') Record Detail
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='sample-components.html#reveal') Reveal
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='sample-components.html#prompt') Prompt
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='sample-components.html#profile') Profile
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='sample-components.html#notification') In-page Notification
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='sample-components.html#card') Card
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='sample-components.html#contained-overflow') Contained Overflow
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='sample-components.html#buttons') Buttons
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='sample-components.html#nav-primary') Primary Navigation
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='sample-components.html#checkboxes') Checkboxes
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='sample-components.html#radio') Radio Buttons 
        li.nav-primary__item
            a.nav-primary__link(href='sample-html-elements.html')
                span.nav-primary__icon.aolcore-icon.aolcore-icon--text-size(aria-hidden="true", aria-role="presentation")
                | HTML
        li.nav-primary__item.js-has-subpanel
            a.nav-primary__link(href='#')
                span.nav-primary__icon.aolcore-icon.aolcore-icon--images-on(aria-hidden="true", aria-role="presentation")
                | Pages
            .nav-primary__subpanel
                h2 Pages
                    .nav-primary__subpanel__close.js-nav-primary-subpanel-close
                        span.aolcore-icon.aolcore-icon--back-arrow(aria-hidden="true", aria-role="presentation")
                        small.screen-reader Back
                ul.nav-primary__subpanel__items
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='my-account-cancel.html') My Account - Cancel
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='my-account-product.html') My Account - Product
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='my-account-subscriptions.html') My Account - Subscriptions
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='my-account-payment-methods.html') My Account - Payment Methods
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='my-account-add-card.html') My Account - Add Card
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='my-account-link-subscriptions.html') My Account - Link Subscriptions
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='my-account-add-direct-debit.html') My Account - Add Direct Debit
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='my-account-switch-payment-method.html') My Account - Switch Payment Method
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='my-account-billing-statement.html') My Account - Billing Statement
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='my-account-profile.html') My Account - Profile
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='my-account-activity.html') My Account - Activity
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='my-account-profile-edit.html') My Account - Contact Information
    ul.nav-primary__complimentary
        li.nav-primary__complimentary__item
            a(href="#") Lorem
///.nav-primary
