section.statement.statement--theme2
    .statement__header
        h2 Details
    ///.statement__header
    .statement__body
        table
            caption.statement__body__header
                h3 04/16/17
            colgroup
                col.statement__description
                col.statement__total
            tbody
                tr 
                    td 
                        strong Account security Question created
                        ul
                            li Performed By: shroffmonkey
                            li Performed By: shroffmonkey
                    td 10:02 AM
                tr 
                    td 
                        strong Screen name created
                        ul
                            li Performed By: shroffmonkey
                            li Performed By: shroffmonkey
                    td 10:00 AM
        hr
        table
            caption.statement__body__header
                h3 04/09/17
            colgroup
                col.statement__description
                col.statement__total
            tbody
                tr 
                    td 
                        strong Address updated
                        ul
                            li Performed By: shroffmonkey
                            li Performed By: shroffmonkey
                    td 09:47 AM
                tr 
                    td 
                        strong Phone number created
                        ul
                            li Performed By: shroffmonkey
                            li Performed By: shroffmonkey
                    td 09:47 AM
        hr
        table
            caption.statement__body__header
                h3 04/01/17
            colgroup
                col.statement__description
                col.statement__total
            tbody
                tr 
                    td 
                        strong Processed Registration
                        ul
                            li Performed By: shroffmonkey
                            li Performed By: shroffmonkey
                    td 3:37 PM
                tr 
                    td 
                        strong Updated Marketing Preferences
                        ul
                            li Performed By: AOL Member Services
                            li Performed By: shroffmonkey
                    td 3:37 PM
                tr 
                    td 
                        strong Updated Marketing Preferences
                        ul
                            li Performed By: AOL Member Services
                            li Performed By: otherusername11@email
                    td 3:36 PM
    ///.statement__body
///.statement