section.card
    .card__tag 
        span
          i.aolcore-icon.aolcore-icon--check
          | Free Trial
    img.card__media.card__media--centered(src="http://placehold.it/105x105", alt="")
    .card__content 
        .card__header 
            h3.card__title.light Lorem ipsum dolor
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo sed doloribus dicta facilis, labore distinctio sunt reprehenderit.
        button.button.button--cta Lorem    
///.card

section.card
    .card__tag 
        span
          i.aolcore-icon.aolcore-icon--not
          | Pending Cancel
    img.card__media.card__media--centered(src="http://placehold.it/105x105", alt="")
    .card__content 
        .card__header 
            h3.card__title.light ThisIsAVeryLongWordThatShouldBreakToAnotherLine
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo sed doloribus dicta facilis, labore distinctio sunt reprehenderit.
        button.button.button--cta Lorem    
///.card