ul.checkbox-group.checkbox-group__two-col--desktop-up
  li.checkbox-group__item
    label
      input.checkbox(type='checkbox', name='checkbox-group__A')
      span.checkbox-label Option A
  li.checkbox-group__item
    label
      input.checkbox(type='checkbox', name='checkbox-group__B')
      span.checkbox-label Option B
  li.checkbox-group__item
    label
      input.checkbox(type='checkbox', name='checkbox-group__C')
      span.checkbox-label Option C
  li.checkbox-group__item
    label
      input.checkbox(type='checkbox', name='checkbox-group__D')
      span.checkbox-label Option D
  li.checkbox-group__item
    label
      input.checkbox(type='checkbox', name='checkbox-group__E')
      span.checkbox-label Option E
///.checkbox-group__two-col--desktop-up