.header
    .header__hamburger.js-primary-nav-toggle
        span.aolcore-icon.aolcore-icon--hamburger(aria-hidden="true", aria-role="presentation")
        small.screen-reader Menu
    a.header__logo(href="/")
        span.aolcore-icon.aolcore-icon--aol(aria-hidden="true", aria-role="presentation")
        span.aolcore-icon.aolcore-icon--myaccount(aria-hidden="true", aria-role="presentation")
        small.screen-reader AOL MyAccount
    small.header__beta Beta
    //--
        nav.header__nav.nav-secondary
            ul.nav-secondary__items
                li.nav-secondary__item
                    a.nav-secondary__link(href="") link
                li.nav-secondary__item
                    a.nav-secondary__link(href="") link
                li.nav-secondary__item
                    a.nav-secondary__link(href="") link
    .header__profile
        include profile
///.header
