.menu
    .menu__tag
        span.aolcore-icon.aolcore-icon--checked(aria-hidden="true", aria-role="presentation")
        | Tag - Lorem
    h4 Get Started
    p Content - Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    ul.menu__list
        li.menu__list__item
            a.menu__link(href="#")
                span.aolcore-icon.aolcore-icon--download2(aria-hidden="true", aria-role="presentation")
                | Link - Lorem ipsum dolor sit amet dolor ipsum
        li.menu__list__item
            a.menu__link(href="#")
                span.aolcore-icon.aolcore-icon--forward(aria-hidden="true", aria-role="presentation")
                | Link - Lorem ipsum
        li.menu__list__item
            .reveal
                button.reveal__action.js-reveal-toggle
                    span.aolcore-icon.aolcore-icon--expand(aria-hidden="true", aria-role="presentation") 
                    | Lorem Ipsum
                .reveal__content
                    .menu__list__content
                        dl
                            dt Lorem:
                            dd Ipsum
                            dt Dolor:
                            dd sit
                            dt Amet:
                            dd Concectetur
                        a(href="#") Elit
                ///.reveal__content
            ///.reveal
        li.menu__list__item
            a.menu__link(href="#")
                span.aolcore-icon.aolcore-icon--forward(aria-hidden="true", aria-role="presentation")
                | Link - Lorem ipsum
///.menu