nav.nav-primary
    a.nav-primary__logo(href="/")
        span.aolcore-icon.aolcore-icon--aol(aria-hidden="true", aria-role="presentation")
        span.aolcore-icon.aolcore-icon--myaccount(aria-hidden="true", aria-role="presentation")
        small.screen-reader AOL MyAccount
    ul.nav-primary__items
        li.nav-primary__item.js-has-subpanel
            .nav-primary__link
                span.nav-primary__icon.aolcore-icon.aolcore-icon--products(aria-hidden="true", aria-role="presentation") 
                | Lorem
            .nav-primary__subpanel
                h2 Title
                .nav-primary__subpanel__close.js-nav-primary-subpanel-close
                    span.aolcore-icon.aolcore-icon--back-arrow(aria-hidden="true", aria-role="presentation")
                    small.screen-reader Back
                ul.nav-primary__subpanel__items
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='#') Ipsum
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='#') Ipsum
                    li.nav-primary__subpanel__item
                        a.nav-primary__subpanel__link(href='#') Ipsum
        li.nav-primary__item
            a.nav-primary__link(href='#')
                span.nav-primary__icon.aolcore-icon.aolcore-icon--shortcuts(aria-hidden="true", aria-role="presentation")
                | Ipsum
        li.nav-primary__item
            a.nav-primary__link(href='#')
                span.nav-primary__icon.aolcore-icon.aolcore-icon--support(aria-hidden="true", aria-role="presentation")
                | Dolor
    ul.nav-primary__complimentary
        li 
            a(href="#") Lorem
        li 
            a(href="#") Ipsum
        li 
            a(href="#") Dolor
///.nav-primary
