mixin notification(modifiers, contentType)
	case contentType
		when 1
			section.notification(class=modifiers)
				.content.content--medium
					.notification__close.js-notification-close
						span.aolcore-icon.aolcore-icon--x(aria-hidden="true", aria-role="presentation")
						span.screen-reader close
					.notification__content
						h4 Confirmation Email Sent
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem magnam incidunt aut at sit nemo sequi dolore, dolorum sed laudantium perferendis veritatis.
						
						a(href="#") 
							span.aolcore-icon.aolcore-icon--cta-arrow(aria-hidden="true", aria-role="presentation")
							| Get Help
			///.notification
		when 2
			section.notification.notification--error.notification--centered
				.notification__content
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem magnam incidunt aut at sit nemo sequi dolore, dolorum sed laudantium perferendis veritatis.
			///.notification
		when 3
				section.notification.notification--centered
					.notification__content
						.row
							.row__col.row__col--x9
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem magnam incidunt aut at sit nemo sequi dolore, dolorum sed laudantium perferendis veritatis.
							.row__col.row__col--x3
								button.button.button--cta Lorem ipsum
				///.notification
		when 4
				section.notification.notification--error.notification--centered
					.notification__content
						.row
							.row__col.row__col--x9.left
								p Lorem ipsum dolor sit amet, consectetur <strong>adipisicing</strong> elit. Exercitationem magnam incidunt aut at sit nemo sequi dolore, dolorum sed laudantium perferendis veritatis.
							.row__col.row__col--x3
								button.button.button--outline Lorem ipsum
				///.notification

	///.notification