.profile
    .profile__authenticated.js-profile-options-toggle
        span.profile__name Hi Username!
        img.profile__icon(src="https://s.aolcdn.com/psstatic/aolhelp-prod/8.2.2/assets/img/default-profile-icon.png")
        ul.profile__options
            li.profile__option
                a.profile__link(href="test") Lorem
            li.profile__option
                a.profile__link(href="") Ipsum
            li.profile__option
                a.profile__link.js-profile-signout(href="") Sign Out
    a.profile__unauthenticated.js-profile-signin(href="#") Sign In
///.profile