section.prompt.prompt--light
    .content.content--medium
        .prompt__content
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem magnam incidunt aut at sit nemo sequi dolore, dolorum sed laudantium perferendis veritatis.
        .prompt__action
            button.button.button--outline.js-prompt-action Lorem
///.prompt