ul.radio-group
  li.radio-group__item
    label
      input.radio(type='radio', name='radio-group')
      span.radio-label I am having a technical problem
  li.radio-group__item
    label
      input.radio(type='radio', name='radio-group')
      span.radio-label I don't believe the services provided are worth the price
  li.radio-group__item
    label
      input.radio(type='radio', name='radio-group')
      span.radio-label I no longer use/need this product
  li.radio-group__item
    label
      input.radio(type='radio', name='radio-group')
      span.radio-label I did not realize I had purchased this product
  li.radio-group__item
    label
      input.radio(type='radio', name='radio-group')
      span.radio-label Other
///.radio-group