ul.radio-group.radio-group__two-col
  li.radio-group__item
    label
      input.radio(type='radio', name='radio-group__two-col')
      span.radio-label Yes
  li.radio-group__item
    label
      input.radio(type='radio', name='radio-group__two-col')
      span.radio-label No
///.radio-group.radio-group__two-col