mixin record-detail(modifiers, headerType, contentType)
	section.record-detail(class=modifiers)

		.record-detail__alert
			h4 
				span.aolcore-icon.aolcore-icon--alert2(aria-hidden="true", aria-role="presentation")
				span Payment cannot be processed.
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, inventore quas. Provident id, labore sit nulla excepturi aut perferendis sed esse.
			button.button.button--outline Edit
			button.button.button--outline Switch Payment Method
		///.record-detail__alert

		header.record-detail__header

			case headerType

				when 1

					.record-detail__header__media
						img(src="http://placehold.it/30x40/cccccc", alt="")
					.record-detail__header__title
						big 
							strong McAfee Multi Access
						br
						em Current payment method: Visa Credit ending in 3580
					button.record-detail__header__action
						span.aolcore-icon.aolcore-icon--arrow-right(aria-hidden="true", aria-role="presentation")
							span.screen-reader View Details
							
				default	

					.record-detail__header__media
						img(src="http://placehold.it/70x30/cccccc", alt="")
					.record-detail__header__title
						big 
							strong Lorem Ipsum 
						| dolor sit 
						strong Amet
					button.record-detail__header__action
						span.aolcore-icon.aolcore-icon--arrow-right(aria-hidden="true", aria-role="presentation")
							span.screen-reader View Details

		///.record-detail__header

		.record-detail__body

			//- Show different types of content
			case contentType

				when 1 

					//- Buttons under each column
					.row
						.row__col.row__col--x6
							h4 Lorem Ipsum
							p  Lorem ipsum dolor
							p 
								img.record-detail__media(src="http://placehold.it/70x30/cccccc", alt="")
								img.record-detail__media(src="http://placehold.it/70x30/cccccc", alt="")

							button.button.button--cta Lorem

						.row__col.row__col--x6
							h4 Lorem Ipsum
							p  
								| Lorem ipsum dolor
							p 
								img.record-detail__media(src="http://placehold.it/70x30/cccccc", alt="")
							button.button.button--cta Ipsum
					///.row

				when 2 

					//- With checkboxes
					p 
						big Select the subscriptions you would like to link to this card.

					ul.record-detail__list
						each i in ['lorem', 'ipsum']
							li.record-detail__list__item
								.record-detail__list__radio
									input(type="checkbox")
								.record-detail__list__media
									img(src="http://placehold.it/30x40/cccccc", alt="")
								.record-detail__list__content
									| lorem ipsum
					///.record-detail__list

					p
						button.button.button--cta Link to this Card
						button.button.button--plain No thanks.

					small  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, cupiditate, fugit. Delectus, impedit deleniti dolorem. Asperiores reiciendis sed est quam, corporis a, voluptatem excepturi quo ratione ullam iusto, dolor quos!

				when 3

					//- With radios
					p 
						big Select the subscriptions you would like to link to this card.

					ul.options
						li.options__item.options__item--selected
							.options__radio
								input#x2(type="radio", name="x2")
							.options__media
								img(src="http://placehold.it/70x30/cccccc", alt="")
							.options__content
								label(for="x2")
									big 
										strong Mastercard Credit 
										| ending in 
										strong 3580
								.options__input
									label(for="x1") Enter security code for the selected card.
									input#x1(type="text")
						li.options__item
							.options__radio
								input#x2(type="radio", name="x2")
							.options__media
								img(src="http://placehold.it/70x30/cccccc", alt="")
							.options__content
								label(for="x2")
									big
										strong IBAN 
										| ending in 
										strong 6789
					///.options

					p
						a(href="#") Add New Payment Method
					p
						button.button.button--cta Save
						button.button.button--plain Cancel

					.message.message--error
						span.aolcore-icon.aolcore-icon--contract(aria-hidden="true", aria-role="presentation")
						strong lorem ipsum dolor sit amet

					.message.message--warning
						span.aolcore-icon.aolcore-icon--alert(aria-hidden="true", aria-role="presentation")
						strong lorem ipsum dolor sit amet

					small  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, cupiditate, fugit. Delectus, impedit deleniti dolorem. Asperiores reiciendis sed est quam, corporis a, voluptatem excepturi quo ratione ullam iusto, dolor quos!

				when 4

					//- With checkboxes
					p 
						big Select the subscriptions you would like to link to this card.

					ul.options
						li.options__item
							.options__radio
								input#x3(type="checkbox")
							.options__media
								img(src="http://placehold.it/70x30/cccccc", alt="")
							.options__content
								label(for="x3")
									big 
										strong Mastercard Credit 
										| ending in 
										strong 3580
								.options__input
									label(for="x4") Enter security code for the selected card.
									input#x4(type="text")
					///.options

					p
						a(href="#") Add New Payment Method
					p
						button.button.button--cta Save
						button.button.button--plain Cancel

					small  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, cupiditate, fugit. Delectus, impedit deleniti dolorem. Asperiores reiciendis sed est quam, corporis a, voluptatem excepturi quo ratione ullam iusto, dolor quos!

				default

					//- One row of buttons at the bottom
					.row
						.row__col.row__col--x6
							h4 Lorem Ipsum
							p  Lorem ipsum dolor
							h4 Lorem Ipsum
							p 
								| Lorem ipsum dolor
								br
								| Lorem ipsum dolor
								br
								| Lorem ipsum dolor
						.row__col.row__col--x6
							h4 Lorem Ipsum
							ul.record-detail__list
								each i in ['lorem', 'ipsum']
									li.record-detail__list__item
										.record-detail__list__media
											img(src="http://placehold.it/30x40/cccccc", alt="")
										.record-detail__list__content
											| lorem ipsum
											br
											a(href="#") lorem ipsum
							///.record-detail__list
					///.row
					button.button.button--cta Lorem Ipsum
					button.button.button--plain Lorem Ipsum

		///.record-detail__body
	///.record-detail
