.reveal
    button.reveal__action.js-reveal-toggle
        span.aolcore-icon.aolcore-icon--expand(aria-hidden="true", aria-role="presentation") 
        | Lorem Ipsum
    ///.button
    .reveal__content
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero animi unde non eius, odit magni optio deserunt at dignissimos temporibus nemo, nulla in nam magnam dolorum veritatis quibusdam obcaecati. Nisi.
    ///.reveal__content
///.reveal