include includes/mixins
doctype html
html(lang='en')
head
	include includes/head
body
	.nav-wrapper
		include includes/nav-primary
	.page-wrapper
		header
			include ../components/header
		main
			.content.content--wide.content--highlight
				.content.content--medium
					h1 Add Direct Debit

					form
						p 
							| AOL Deutschland Medien
							br
							small Brandstweite 4, D-20457, Hamburg Germany SEPA-Lastschriftmandat: GB05APPSDDCHAS00000041317222
						.row.error
							.row__col.row__col--x6
								label(for="x1")
									| Vorname
								input#x1(type="text", val="")  
								label.error__detail(for="x1") Error message
							.row__col.row__col--x6
								label(for="x2")
									| Nachname
								input#x2(type="text", val="")  
								label.error__detail(for="x2") Error message
						.row
							.row__col.row__col--x9
								label(for="x3")
									| Adresszeile 1 
								input#x3(type="text", val="")  
								label.error__detail(for="x3") Error message
							.row__col.row__col--x3
								label(for="x4")
									| Adresszeile 2 optional
								input#x4(type="text", val="")  
								label.error__detail(for="x4") Error message
						.row
							.row__col.row__col--x3
								label(for="x5")
									| PLZ 
								input#x5(type="text", val="")  
								label.error__detail(for="x5") Error message
							.row__col.row__col--x9
								label(for="x6")
									| Ort/Stadt 
								input#x6(type="text", val="")  
								label.error__detail(for="x6") Error message
						.row
							.row__col.row__col--x6
								label(for="x7")
									| IBAN (Int. Bank Account Number)
								.has-padlock.has-tooltip
									span.aolcore-icon.aolcore-icon--padlock(aria-hidden="true", aria-role="presentation")
									input#x7(type="text", val="")  
									button.aolcore-icon.aolcore-icon--info(type="button", data-toggle="tooltip", title="Zahlungen von Ihrem Konto mittels Lastschrift einzuziehe.")
								small Wiederkehrende Anmeldung 
								label.error__detail(for="x7") Error message
						.row
							.row__col.row__col--x6
								label(for="x8")
									| BIC (Bank Identifier Code)
								input#x8(type="text", val="")  
								label.error__detail(for="x8") Error message
						p
							small Sie ermächtigen den Zahlungsempfänger AOL Deutschland Medien, Zahlungen von Ihrem Konto mittels Lastschrift einzuziehen. Zugleich weisen Sie Ihr Kreditinstitut an, die vom Zahlungsempfänger AOL Deutschland Medien auf Ihr Konto gezogenen Lastschriften einzulösen. 
							br
							small Hinweis: Sie können innerhalb von acht Wochen, beginnend mit dem Belastungsdatum, die Erstattung des belasteten Betrages verlangen. Es gelten dabei die mit Ihrem Kreditinstitut vereinbarten Bedingungen. 
						.row

							label
								input(type="checkbox")
								| Ich habe die Allgemeinen <a href="#">Geschäftsbedingungen</a> gelesen und akzeptiere sie
								label.error__detail(for="x8") Error message

							label
								input(type="checkbox")
								| Ich habe die <a href="#">Datenschutzerklärung</a> gelesen und akzeptiere sie. 
								label.error__detail(for="x8") Error message
							
						.row
							button.button.button--cta Save and Continue
							button.button.button--plain Cancel

						p
							small 
								| AOL Deutschland Medien GmbH ist ein in Deutschland ansässiges Unternehmen.

				///.content--medium
			///.content--wide
		///main
		footer
			include ../components/nav-footer