include includes/mixins
doctype html
html(lang='en')
head
	include includes/head
body
	.nav-wrapper
		include includes/nav-primary
	.page-wrapper
		header
			include ../components/header
		main
			.content.content--wide
				include ../components/notification
				+notification(['notification--error', 'notification--centered'], 4)
			.content.content--wide.content--highlight
				.content.content--medium

					.box.box--items-centered.row
						.row__col.row__col--x9
							h1 Payment Methods
						.row__col.row__col--x3
							select.select(name="")
								option(val="") Lorem
								option(val="") Ipsum
					///.box

					.box.box--white.row
						.row__col.row__col--x3
							select.select(name="")
								option(val="") Lorem
								option(val="") Ipsum
						.row__col.row__col--x9.right
							button.button.button--cta.button--short 
								span.aolcore-icon.aolcore-icon--print(aria-hidden="true", aria-role="presentation")
								| Print Statement
					///.box

					.box.box--white.row
						| lorem ipsum dolor sit amet
					///.box

					include ../components/statement
				///.content--medium
			///.content--wide
		///main
		footer
			include ../components/nav-footer