include includes/mixins
doctype html
html(lang='en')
head
    include includes/head
body
  .nav-wrapper
      include includes/nav-primary
  .page-wrapper
    header
      include ../components/header
    main
        .content.content--wide.content--highlight
            .content.content--medium
                h1 Subscriptions
                .card-list
                    include ../components/card
                    include ../components/card
                    include ../components/card
                ///.card-list
            ///.content--medium
        ///.content--wide
        .content.content--wide.content--opaque
            .content.content--medium

                include ../components/reveal

            ///.content--medium
        ///.content--wide
    footer
      include ../components/nav-footer