include includes/mixins
doctype html
html(lang='en')
head
	include includes/head
body
	.nav-wrapper
		include includes/nav-primary
	.page-wrapper
		header
			include ../components/header
		main
			.content.content--wide.content--highlight

				include ../components/notification
				+notification(['', ''], 1)
				+notification(['notification--centered'], 2)
				+notification(['notification--error', 'notification--centered'], 3)
				+notification(['notification--error', 'notification--centered'], 4)

				.content.content--medium
					.box.box--items-centered.row
						.row__col.row__col--x9
							h1 Payment Methods
						.row__col.row__col--x3
							select.select(name="")
								option(val="") Lorem
								option(val="") Ipsum
					///.box
					include ../components/record-detail
					+record-detail([], 1, 3)
				///.content--medium
			///.content--wide
		///main
		footer
			include ../components/nav-footer