include includes/mixins
doctype html
html(lang='en')
head
	include includes/head
body
	.nav-wrapper
		include includes/nav-primary
	.page-wrapper
		header
			include ../components/header
		main
			.content.content--wide.content--highlight
				.content.content--medium
					h1 Link Subscriptions
					include ../components/record-detail
					+record-detail(['record-detail--has-alertx', 'record-detail--is-open'], 2)
				///.content--medium
			///.content--wide
		///main
		footer
			include ../components/nav-footer