include includes/mixins
doctype html
html(lang='en')
head
	include includes/head
body
	.nav-wrapper
		include includes/nav-primary
	.page-wrapper
		header
			include ../components/header
		main
			.content.content--wide.content--highlight
				.content.content--medium
					.box.box--items-centered.row
						.row__col.row__col--x9
							h1 Payment Methods
						.row__col.row__col--x3
							select.select(name="")
								option(val="") Lorem
								option(val="") Ipsum
					///.box
					include ../components/record-detail
					+record-detail(['record-detail--has-alert', 'record-detail--is-open'])
					+record-detail()
				///.content--medium
			///.content--wide
			.content.content--wide
				.content.content--medium
					h2 Add a New Payment Method
					+record-detail('record-detail--headless', 1)
			///.content--wide
		///main
		footer
			include ../components/nav-footer