include includes/mixins
doctype html
html(lang='en')
head
    include includes/head
body
  .nav-wrapper
      include includes/nav-primary
  .page-wrapper
    header
      include ../components/header
    main
      include ../components/hero   
      .content.content--medium
          .columns.columns--railed
            .columns__col
                header
                    h1 SUPERAntiSpyware
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus velit, facilis et, alias consectetur at. A, quidem, placeat dolorum nihil asperiores minus similique eos officiis nulla molestiae, deleniti in corrupti.
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus velit, facilis et, alias consectetur at. A, quidem, placeat dolorum nihil asperiores minus similique eos officiis nulla molestiae, deleniti in corrupti.
                    p
                        +input-button('Activate Now', 'cta')
            ///.columns__col
            aside.columns__col
                .menu-list
                    include ../components/menu
                    include ../components/menu
            ///.columns__col
          ///.columns
      ///.content
    footer
      include ../components/nav-footer