include includes/mixins
doctype html
html(lang='en')
head
	include includes/head
body
	.nav-wrapper
		include includes/nav-primary
	.page-wrapper
		header
			include ../components/header
		main
			.content.content--wide.content--highlight
				.content.content--medium

					.box.box--items-centered.row
						.row__col.row__col--x9
							h1 Account Activity
						.row__col.row__col--x3
							select.select(name="")
								option(val="") Lorem
								option(val="") Ipsum
					///.box

					include ../components/activity
				///.content--medium
			///.content--wide
		///main
		footer
			include ../components/nav-footer