include includes/mixins
doctype html
html(lang='en')
head
	include includes/head
body
	.nav-wrapper
		include includes/nav-primary
	.page-wrapper
		header
			include ../components/header
		main
			.content.content--wide.content--highlight
				.content.content--medium
					h1 Contact Information
					.box.box--white
						form
							.row
								.row__col.row__col--x4.error
									label(for="x1")
										| First Name
									input#x1(type="text", val="")  
									label.error__detail(for="x1") Error message
								.row__col.row__col--x4.error
									label(for="x2")
										| Last Name
									input#x2(type="text", val="")  
									label.error__detail(for="x2") Error message
								.row__col.row__col--x4
									label(for="x2a")
										| Display Name
									input#x2a(type="text", val="")  
							.row
								.row__col.row__col--x8
									label(for="x3")
										| Address
									input#x3(type="text", val="")  
								.row__col.row__col--x4
									label(for="x4")
										| Apt / Unit 
										em optional
									input#x4(type="text", val="")  
							.row
								.row__col.row__col--x3
									label(for="x5")
										| Zip Code
									input#x5(type="text", val="")  
								.row__col.row__col--x6
									label(for="x6")
										| City
									input#x6(type="text", val="")  
								.row__col.row__col--x3
									label(for="x6a")
										| State
									select#x6a
										option VA
										option DC
										option MD
							.row
								.row__col.row__col--x6
									label(for="x7")
										| Daytime Phone
									input#x7(type="text", val="")  
								.row__col.row__col--x6
									label(for="x8")
										| Evening Phone
									input#x8(type="text", val="")  
							.row
								.row__col.row__col--x3
									label(for="x7a")
										| Gender <em>optional</em>
									select#x7a
										option VA
										option DC
										option MD
								.row__col.row__col--x3
									label(for="x8a")
										| Date of Birth <em>optional</em>
									input#x8a(type="text", val="", placeholder="DD/MM/YYYY")  
							.row
								button.button.button--cta Save
								button.button.button--plain Cancel

							
				///.content--medium
			///.content--wide
		///main
		footer
			include ../components/nav-footer