include includes/mixins
doctype html
html(lang='en')
head
	include includes/head
body
	.nav-wrapper
		include includes/nav-primary
	.page-wrapper
		header
			include ../components/header
		main
			.content.content--wide.content--highlight
				.content.content--medium
					h1 Account Recovery
					.box.box--white
						form
							.row
								.row__col.row__col--x6
									label(for="x7")
										| Mobile Phone
									input#x7(type="text", val="")  
								.row__col.row__col--x6.error
									label(for="x8")
										| Alternative Email
									input#x8(type="text", val="")  
									label.error__detail(for="x1") Error message
							.row
								button.button.button--cta Save
								button.button.button--plain Cancel

							
				///.content--medium
			///.content--wide
		///main
		footer
			include ../components/nav-footer