include includes/mixins
doctype html
html(lang='en')
head
    include includes/head
body
  .nav-wrapper
      include includes/nav-primary
  .page-wrapper
    header
      include ../components/header
    main
      .content.content--medium
            header
                img(src='http://placehold.it/224x56')
                h1 You are about to cancel SUPERAntiSpyware

            p <strong>Before you go</strong>, we want to remind you that no single anti-malware solution is enough to stave off attacks alone. SUPERAntiSpyware works in tandem with your existing anti-virus software for a layered approach to security for extra protection. If you ever want to try it again, just go to <a href="#">productcentral.aol.com</a>.

            form(name='form-cancel-sub', id='form-cancel-sub')
                p
                    +input-button('Keep My Subscription', 'cta')

                p.pad--vertical If you still want to cancel, please select your cancel reason below and click on the cancel link below.

                fieldset.fieldset--plain
                    legend.legend--plain.strong <sup>*</sup>Please select your reason for cancelling this service:
                    include ../components/radio-group.pug
                    include ../components/contained-overflow

                    p
                        +input-button('Keep My Subscription', 'cta')
                        +input-submit('Cancel SUPERAntiSpyware', 'plain')
    footer
      include ../components/nav-footer