include includes/mixins
doctype html
html(lang='en')
head
	include includes/head
body
	.nav-wrapper
		include includes/nav-primary
	.page-wrapper
		header
			include ../components/header
		main

			.content.content--wide.content--highlight
				.content.content--medium

					.box.box--items-centered.row
						.row__col.row__col--x9
							h1 User Information
						.row__col.row__col--x3
							select.select(name="")
								option(val="") Lorem
								option(val="") Ipsum
					///.box

					.box.box--white.box--listing
						h2 Contact Information
						.row
							.row__col.row__col--x6
								dl
									dt 
										strong Name
									dd Mary Smith
								dl
									dt 
										strong Display Name
									dd Mary
								dl
									dt 
										strong Gender
									dd.disabled None
								dl
									dt 
										strong Date of Birth
									dd 1/1/1980
							.row__col.row__col--x6
								dl
									dt 
										strong Email
									dd marysmith@aol.com
								dl
									dt 
										strong Address
									dd 
										| 22000 AOL Way
										br
										| Sterling, VA 20166
								dl
									dt 
										strong Phone
									dd XXX-XXX-XXXX (daytime)
									dd XXX-XXX-XXXX (evenings)
						p
							a(href="#").link.link--black
								span.aolcore-icon.aolcore-icon--forward(aria-hidden="true", aria-role="presentation")
								| Update Information
					///.box

					.box.box--white.box--listing
						h2
							| Account Recovery Information
							button.aolcore-icon.aolcore-icon--info(type="button", data-toggle="tooltip", title="Lorem ipsum dolor sit amet.")
						.row
							.row__col.row__col--x6
								dl
									dt 
										strong Mobile Phone
									dd.disabled None
								a(href="#").link.link--black
									span.aolcore-icon.aolcore-icon--forward(aria-hidden="true", aria-role="presentation")
									| Add mobile number
							.row__col.row__col--x6
								dl
									dt 
										strong Alternate Email
									dd.disabled None
								a(href="#").link.link--black
									span.aolcore-icon.aolcore-icon--forward(aria-hidden="true", aria-role="presentation")
									| Add mobile email
					///.box

					.box.box--white.box--listing
						h2 Screen Names
						.row
							.row__col.row__col--x6
								dl
									dt 
										strong Master Screen Name
									dd marysmith11
							.row__col.row__col--x6
								dl
									dt 
										strong Sub Scren Names
									dd subaccount4545
									dd subaccount90
						p
							a(href="#").link.link--black
								span.aolcore-icon.aolcore-icon--forward(aria-hidden="true", aria-role="presentation")
								| Update Information
					///.box

				///.content--medium
			///.content--wide
		///main
		footer
			include ../components/nav-footer