include includes/mixins
doctype html
html(lang='en')
head
	include includes/head
body
	.nav-wrapper
		include includes/nav-primary
	.page-wrapper
		header
			include ../components/header
		main
			.content.content--wide.content--highlight
				.content.content--medium
					h1 Add Credit or Debit Card
					.box.box--white
						form
							.row
								.row__col.row__col--x6
									label(for="x1")
										| Lorem
									input#x1(type="text", val="")  
								.row__col.row__col--x6
									label(for="x2")
										| Lorem
									input#x2(type="text", val="")  
							.row
								.row__col.row__col--x9
									label(for="x3")
										| Lorem
									input#x3(type="text", val="")  
								.row__col.row__col--x3
									label(for="x4")
										| Lorem
									input#x4(type="text", val="")  
							.row
								.row__col.row__col--x3
									label(for="x5")
										| Lorem
									input#x5(type="text", val="")  
								.row__col.row__col--x9
									label(for="x6")
										| Lorem
									input#x6(type="text", val="")  
							.row
								.row__col.row__col--x6
									label(for="x7")
										| Lorem
									input#x7(type="text", val="")  
								.row__col.row__col--x6
									label(for="x8")
										| Lorem
									input#x8(type="text", val="")  
							.row
								.row__col.row__col--x6
									label(for="x11")
										| Lorem
									input#x11(type="text", val="")  
								.row__col.row__col--x6
									.input-aligned
										|  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							.row
								.row__col.row__col--x6
									label 
										input(type="checkbox")
										| lorem ipsum dolor sit amet <a href="#">concectetur</a> elit Dolor voluptate.
							.row
								.row__col.row__col--x3
									label(for="x9")
										| Lorem
									select#9(name="")
										option Ipsum
										option Dolor
								.row__col.row__col--x3
									label(for="x10")
										| Lorem
									select#10(name="")
										option Ipsum
										option Dolor
							.row
								.row__col.row__col--x6
									label(for="x11")
										| Lorem
									input#x11(type="text", val="")  
							.row
								label 
									input(type="checkbox")
									| lorem ipsum dolor sit amet <a href="#">concectetur</a> elit Dolor voluptate.
							.row
								button.button.button--cta Lorem
								button.button.button--plain Lorem

							p
								small 
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
									| Dolor voluptate magnam facere beatae nulla aperiam et possimus nam? 
									| Est debitis dignissimos eligendi porro sequi, animi dicta dolore facilis perferendis magni!  
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quam quasi cumque tempore temporibus 
									| consequuntur molestias recusandae? Officia repudiandae impedit, provident eaque ipsum, modi, nobis 
									| necessitatibus fugit nesciunt vitae exercitationem.

							
				///.content--medium
			///.content--wide
		///main
		footer
			include ../components/nav-footer