include includes/mixins
- var icons = ['alert', 'assist', 'back-arrow', 'call', 'chat', 'close', 'cta-arrow', 'download', 'dropdown-collapsed', 'dropdown-expanded', 'email', 'hamburger', 'images-off', 'images-on', 'open', 'pagination-first', 'pagination-last', 'pagination-left', 'pagination-right', 'plans', 'premium', 'print', 'products', 'search', 'share', 'shortcuts', 'support', 'text-size', 'thumb', 'timestamp', 'triangle-left', 'triangle-right', 'upgrade', 'check', 'not', 'x', 'aol', 'myaccount', 'back', 'contract', 'download2', 'forward', 'profile', 'expand', 'remove', 'help', 'checked', 'wallet', 'subscriptions', 'padlock', 'info', 'arrow-right', 'arrow-down', 'alert2']
doctype html
html(lang='en')
head
    include includes/head
    style.
        .icon {
            margin-bottom: 15px;
        }

        .icon .aolcore-icon {
            display: inline-block;
            font-size: 30px;
            padding: 10px;
            border: 1px solid #9e9e9e;
            position: relative;
            margin-right: 20px;
        }
body
    .nav-wrapper
        include includes/nav-primary
    ///.nav-wrapper
    .page-wrapper
        header
            include ../components/header
        main
            .content.content--wide.content--highlight
                .content.content--narrow
                    h1 Icons 
                    for icon in icons  
                        +icon(icon, 'test')
        ///main
        footer
            include ../components/nav-footer
        ///footer
    ///.page-wrapper

