doctype html
html(lang='en')
head
    include includes/head
body
    .nav-wrapper
        include includes/nav-primary
    ///.nav-wrapper
    .page-wrapper
        header
            include ../components/header
        main
            .content.content--wide
               p  <strong>.content.content--wide</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nisi possimus, harum a cumque cupiditate doloremque impedit eius earum et debitis dignissimos ad natus soluta voluptatem saepe libero esse modi. 

            .content.content--wide.content--highlight
               p  <strong>.content.content--wide.content--highlight</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nisi possimus, harum a cumque cupiditate doloremque impedit eius earum et debitis dignissimos ad natus soluta voluptatem saepe libero esse modi. 

            .content.content--medium
                p  <strong>content.content--medium</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nisi possimus, harum a cumque cupiditate doloremque impedit eius earum et debitis dignissimos ad natus soluta voluptatem saepe libero esse modi. 

            .content.content--wide.content--highlight
                .content.content--medium
                    .columns
                        .columns__col
                            p  <strong>.columns .columns__col</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nisi possimus, harum a cumque cupiditate doloremque impedit eius earum et debitis dignissimos ad natus soluta voluptatem saepe libero esse modi. 
                        .columns__col 
                            p  <strong>.columns .columns__col</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nisi possimus, harum a cumque cupiditate doloremque impedit eius earum et debitis dignissimos ad natus soluta voluptatem saepe libero esse modi. 

            .content.content--medium
                .columns.columns--railed
                    .columns__col
                        p  <strong>.columns .columns__col</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nisi possimus, harum a cumque cupiditate doloremque impedit eius earum et debitis dignissimos ad natus soluta voluptatem saepe libero esse modi. 
                    .columns__col 
                        p  <strong>.columns .columns__col</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nisi possimus, harum a cumque cupiditate doloremque impedit eius earum et debitis dignissimos ad natus soluta voluptatem saepe libero esse modi. 

            .content.content--wide.content--highlight
                .content.content--narrow
                    p  <strong>.content.content--narrow</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nisi possimus, harum a cumque cupiditate doloremque impedit eius earum et debitis dignissimos ad natus soluta voluptatem saepe libero esse modi. 

            .content.content--wide.content--highlight
                .content.content--medium

                    p  <strong>.row</strong> Simple grid 
                    for i in [1,2,3,4,5,6,7,8,9,10,11]
                        .row
                                .row__col(style="background: #ababab;font-size:10px;", class="row__col--x" + i )
                                    div(style="padding:10px 5px;") row__col--x#{i}
                                .row__col(style="background: #bbb;font-size:10px;", class="row__col--x" + (12 - i)) 
                                    div(style="padding:10px 5px;") row__col--x#{12 - i}
                        ///.row
        ///main
        ///main
        footer
            include ../components/nav-footer
        ///footer
        section.fixed-wrapper
            include ../components/prompt
        ///.fixed-wrapper
    ///.page-wrapper

