include includes/mixins
doctype html
html(lang='en')
head
    include includes/head
body
    .nav-wrapper
        include includes/nav-primary
    .page-wrapper
        header
            include ../components/header
        main

            .content.content--medium
                    h1 Components

            .content.content--dashed#reveal
                .content.content--medium
                    h2 Statement
                    include ../components/statement

            .content.content--dashed.content--highlight#record-detail
                .content.content--medium
                    h2 Record Detail
                    include ../components/record-detail
                    +record-detail(['record-detail--has-alert', 'record-detail--is-expanded'])
                    +record-detail(['record-detail--is-collapsible', 'record-detail--is-expanded'])
                    +record-detail(['record-detail--is-collapsible', 'record-detail--is-expanded'], 2, 1)
                    +record-detail([], 1, 3)
                    +record-detail([], 1, 4)
                    +record-detail(['record-detail--headless'], 1, 1)

            .content.content--dashed#reveal
                .content.content--medium
                    h2 Reveal
                    include ../components/reveal

            .content.content--dashed.content--highlight#profile
                .content.content--medium(style="padding-bottom: 200px;")
                    h2 Profile
                    include ../components/profile
                    
            .content.content--dashed#prompt
                .content.content--medium
                    h2 Prompt
                    include ../components/prompt

            .content.content--dashed.content--highlight
                .content.content--medium#notification
                    h2 In-page Notification
                include ../components/notification
                br

            .content.content--dashed#menu
                .content.content--medium
                    h2 Menu
                    include ../components/menu

            .content.content--dashed.content--highlight
                .content.content--medium
                    h2 Card
                    include ../components/card

            .content.content--dashed#contained-overflow
                .content.content--medium
                        h2 Contained Overflow
                        include ../components/contained-overflow

            .content.content--dashed.content--highlight#buttons
                .content.content--medium
                    h2 Buttons
                    p
                        +input-button('button.button-cta', 'cta')
                        +input-submit('button.button--plain', 'plain')

            .content.content--dashed#nav-primary
                .content.content--medium.clearfix
                        h2 Primary Navigation
                        .clearfix 
                            include ../components/nav-primary
            
            .content.content--dashed.content--highlight#checkboxes
                .content.content--medium
                    h2 Checkboxes
                    include ../components/checkbox-group
                .content.content--medium
                    include ../components/checkbox-group__two-col
                .content.content--medium
                    include ../components/checkbox-group__two-col--desktop-up
                        
            .content.content--dashed#radio
                .content.content--medium
                    h2 Radio Buttons
                    include ../components/radio-group
                .content.content--medium
                    include ../components/radio-group__two-col
                .content.content--medium
                    include ../components/radio-group__two-col--desktop-up

        footer
            include ../components/nav-footer
