$nav-primary-width: 100px !default;
$nav-primary-width-expanded-mobile: $nav-primary-width + 150px; 
$nav-primary-width-expanded-desktop: $nav-primary-width + 300px; 

body {
    background: $header-dark-bg;
}

.nav-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 2;
}

.page-wrapper {
    background: #fff;
    transition: margin 0.2s ease;
    transition-delay: 0.2s;

    &.is-shifted {
        margin-left: $nav-primary-width-expanded-mobile;
        margin-right: -$nav-primary-width-expanded-mobile;
    }

    @include media($desktop-width) {
        margin-left: $nav-primary-width;
        &.is-shifted {
            margin-left: $nav-primary-width-expanded-desktop;
            margin-right: -$nav-primary-width-expanded-desktop;
        }
   }
}

.fixed-wrapper {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
}

// FIXIT: replace .columns with .row 
.columns {
    @include clearfix();
    @include media($desktop-width) {

        &__col {
            @include span-columns(6);
        }

        &--railed {
            .columns__col {
                @include span-columns(7);
            }    
            .columns__col:last-child {
                @include span-columns(4);
                @include shift(1);
            }    
        }
    }
}

// Simple grid
.row {
    @include outer-container();
    margin-bottom: 20px;
    @include media($desktop-width) {
        @for $i from 1 through 12 {
            &__col--x#{$i} {
                @include span-columns($i);
            }
        }
    }
}

.content {

    padding: 20px;
    
    &--wide {
        padding: 0.5px 0;
    }

    &--medium {
        margin: 0 auto;
        max-width: 1000px;
    }

    &--narrow {
        margin: 0 auto;
        max-width: 820px;
    }

    &--highlight {
        background: #dde2ed;
    }

    &--dashed {
        border-top: 1px dashed #333;
    }

    &--opaque {
        background: #f4f4f4;
    }
}

.pad {
    &--vertical {
        @include rem-fallback((margin-bottom: 2rem, margin-top: 2rem));
    }
}

.box {
    margin-bottom: 20px;
    &--white {
        padding: 25px;
        background: #fff;
    }
    &--items-centered {
        
    }
    &--listing {
        font-size: 95%;
        h2 {
            margin: 0;
            margin-bottom: 10px;
        }
        dl, dd {
            line-height: 1.5;
        }
        p {
            font-weight: initial;
        }
    }
    @include media($desktop-width) {
        &--items-centered {
            display: flex;
            align-items: center;
        }
    }
}

.clearfix {
    @include clearfix();
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.disabled {
    opacity: 0.5;
}

