@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function rem-to-px($inpt, $base: 16px) {
  $curr_base: $base;
  @if variable_exists(base-font-size) {
    $curr_base: $base-font-size;
  }
  
  @if unit($inpt) == 'rem' or unitless($inpt) {
    @return (strip-unit($inpt) * $curr_base);
  }
}

@function px-to-rem($inpt, $base: 16px) {
  $curr_base: $base;
  @if variable_exists(base-font-size) {
    $curr_base: $base-font-size;
  }
  
  @if unit($inpt) == 'px' {
    @return (strip-unit($inpt) / strip-unit($curr_base)) + rem;
  }
}