@mixin rem-fallback($map) {
  @if length($map) {
    @each $property, $value in $map {
      @if unit($value) == 'px' {
        #{$property}: $value;
        #{$property}: px-to-rem($value);
      } @else {
        #{$property}: rem-to-px($value);
        #{$property}: $value;
      }
    }
  }
}