$dodger-blue: #3e79ff;
$alizarin-crimson: #d9272e;
$abbey: #535456;
$silver-chalice: #9e9e9e;
$shark: #1c1e22;

// Typography
$base-font-size: 16px !default;
// $complimentary-font-family: BrownLight,HelveticaNeue,Helvetica,Arial,sans-serif;
// $complimentary-font-family: Brown,HelveticaNeue,Helvetica,Arial,sans-serif;
$body-font-family: Open Sans, sans-serif;
$complimentary-font-family: AktivGrotesk, HelveticaNeue, Helvetica, Arial, sans-serif;

// Responsive
$desktop-width: new-breakpoint(min-width 745px);
$desktop-height: new-breakpoint(max-height 725px);

// Colors
$brand-color: $dodger-blue;
$theme-light: $silver-chalice;
$warning-color: $alizarin-crimson;
$body-font-color: $abbey;
$header-dark-bg: $shark;
$nav-footer-bg: $shark;

// Component defaults
$nav-primary-width: 120px;